.container{
    width: 100%;
    height: auto;
}
.menu{
    width: 100%;
    height: 120px;
    background-color: rgb(202, 202, 202);
}
#bg{
    background-color: rgb(136, 127, 127);
}
.up{
    width: 100%;
    height: 70px;
    margin: 0 auto;
}
.up ul{
    list-style: none;
    margin-top: -10px;
    margin-left: 0px;
}
.up ul li{
    display: inline-block;
}
.up ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:black;
}
.up ul li a img{
    vertical-align: middle;
}
.logo a img{
    padding-right: 40px;
}
.down{
    height: 50px;
    width: 80px;
    margin: o auto;
}
.search{
    height: 36px;
    width: 571px;
    background-color: white;
    margin-left: 60px;
    border-radius: 5px;
}
.search input{
    width: 571px;
    height: 35px;
    border: 0px;
}
.no1{
    border-bottom: 1px solid #ebebeb;
}
.ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.timtruyen ul {
    margin: 0;
    padding: 0;
}
.search {
    position: relative;
    display: table;
    border-collapse: separate;
}
.img{
    max-width: 100%;
}
.li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.timtruyen {
    position: absolute;
    top: 37px;
    left: 0;
    max-height: 323px;
    overflow-y: auto;
    overflow-x: hidden;
    border: -10px solid #ebebeb;
    background-color: #fff;
    width: 575px;
}
.timtruyen ul li {
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #ebebeb;
    list-style: none;
    display: block none;
}
.timtruyen ul li a img{
    float: left;
}
.ten{
    margin-top: 50px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
}
.q{
    margin-left: 600px;
    margin-top: 120px;
}
.b{
    float: left;
}
.li.no1{
    display: inline-block;
}
.one{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}
.one a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align:left;
}
.one a:hover {background-color: #fff;}
.no1:hover .one{
    display: block;
}
.no1{
    font-size: 20px;
}
.i button{
    padding: 7.5px 40px;
    background-color: rgb(25, 216, 25);
    color: #ffffff;
    border: none;
    outline: none;
}
.none{
    margin-left: 600px;
}
.a{
    color: #fff;
    text-decoration: none;
}
.pu{
    color: rgb(239, 225, 24);
}